         
                    {% for news in news.elenco %}
                    
                <a href="news.php?id={{ news.id }}"><li>{{ news.title }}</li></a>
        
                     {% endfor %}