	<footer>
			<section id="header" onclick=""></section>
			<section id="content">
				<article class="left">
					<aside id="copyright">
						<figure class="flink">
							Programmed by ZambaHacker<br />
						</figure>

						<figure class="basshunter">
							Designed by ZambaHacker<br />
						
						</figure>
					</aside>
				</article>

				<article class="middle">
					&copy;  2014 - Questo sito web non f&agrave; parte e non &egrave; gestito da Sulake Group O.I<br />
				Ogni diritto di questo CMS &egrave; riconducibile al rispettivo proprietario" ZambaHacker "
					<p>
					Questo CMS &egrave; Sottoposto a Copyright <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.it">Creative Commons</a>
					</p>
				</article>

			</section>
		</footer>