<!DOCTYPE html>

<html lang="it"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style>
<style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>
<style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style>

    <meta charset="utf-8"/>
    <title>{{ titolo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A complete admin panel theme"/>
    <meta name="author" content="theemio"/>

    <!-- styles -->

    <link href="tema/admin/css/utopia-white.css?v19" rel="stylesheet"/>
    <link href="tema/admin/css/utopia-responsive.css" rel="stylesheet"/>
    <link href="tema/admin/css/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="tema/admin/admin_files/weather.css" rel="stylesheet" type="text/css"/>
    <link href="tema/admin/css/gallery/modal.css" rel="stylesheet"/>
    <link href="tema/admin/admin_files/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
    <link href="tema/admin/admin_files/chosen.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="tema/admin/css/ie.css" rel="stylesheet"/>

    <script type="text/javascript" src="tema/admin/admin_files/jquery.min.js"></script>
    <script type="text/javascript" src="tema/admin/admin_files/jquery.cookie.js"></script>
       <script type="text/javascript" src="tema/admin/scripts/jHtmlArea-0.7.5.js"></script>
    <link rel="Stylesheet" type="text/css" href="tema/admin/style/jHtmlArea.css" />
        <style type="text/css">
        /* body { background: #ccc;} */
        div.jHtmlArea .ToolBar ul li a.custom_disk_button 
        {
            background: url(images/disk.png) no-repeat;
            background-position: 0 0;
        }
        
        div.jHtmlArea { border: solid 1px #ccc; }
    </style>

    <!--[if IE 8]>
    <link href="css/ie8.css" rel="stylesheet">
    <![endif]-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->


<body>

<div class="container-fluid">

    <!-- Header starts -->
    <div class="row-fluid">
        <div class="span12">

        {% include 'header.twig' %}

            <!-- End header -->

        </div>

    </div>

    <!-- Header ends -->

    <div class="row-fluid">

        <!-- Sidebar statrt -->
        <div class="span2 sidebar-container">

            <div class="sidebar">

                <div class="navbar sidebar-toggle">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                    </div>
                </div>

                {% include 'menu.twig' %}

            </div>
        </div>

        <!-- Sidebar end -->

     <div class="span10">

    <textarea id="test" cols="50" rows="15"><p><h3>Test H3</h3>This is some sample text to test out the <b>WYSIWYG Control</b>.</p></textarea>
    <script type="text/javascript">
        // You can do this to perform a global override of any of the "default" options
        // jHtmlArea.fn.defaultOptions.css = "jHtmlArea.Editor.css";

        $(function() {
        /*
            $("#test").htmlarea();

            $("#Textarea1").htmlarea({
            toolbar: ["html","bold", "italic", "underline", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "link", "unlink", "|",
                    {
                        css: "custom_disk_button", // This is how to add a completely custom Toolbar Button
                        text: "Save",
                        action: function(btn) {
                            // 'this' = jHtmlArea object
                            // 'btn' = jQuery object that represents the <A> "anchor" tag for the Toolbar Button
                            alert('SAVE!\n\n' + this.toHtmlString());
                        }
                    }
                    
                ], // Overrides/Specifies the Toolbar buttons to show
                css: "jHtmlArea.Editor.css", // Specify a specific CSS file to use for the Editor
                loaded: function() { // Do something once the editor has finished loading
                    //// 'this' is equal to the jHtmlArea object
                    //alert("jHtmlArea has loaded!");
                    //this.showHTMLView(); // show the HTML view once the editor has finished loading
                }
            });
        */
            $("textarea").htmlarea(); // Initialize jHtmlArea's with all default values
        });
    </script>









</div><!-- Body end -->
        
        {% include 'footer.twig' %}

    </div>

    <!-- Maincontent end -->

</div> <!-- end of container -->

<script type="text/javascript" src="tema/admin/admin_files/utopia.js"></script>
<script type="text/javascript" src="tema/admin/admin_files/jquery.datatable.js"></script>
<script type="text/javascript" src="tema/admin/admin_files/tables.js"></script>

<script type="text/javascript" src="tema/admin/admin_files/header.js"></script>
<script type="text/javascript" src="tema/admin/admin_files/sidebar.js"></script>
