<div class="header-top">

                <div class="header-wrapper">

                    <a href="/admin/" class="utopia-logo"><img src="../tema/Default/images/menu/logo1.png" alt="Utopia"></a>

                    <div class="header-right">

                        <div class="header-divider">&nbsp;</div>

                        <div class="search-panel header-divider">
                            <div class="search-box">
                                <img src="tema/admin/admin_files/zoom.png" alt="Search">
                                <form action="" method="post">
                                    <input type="text" name="search" placeholder="cerca un utente">
                                </form>
                            </div>
                        </div>


                  

                        <div class="user-panel header-divider">
                            <div class="user-info">
                                <img src="tema/admin/admin_files/user.png" alt="">
                                <a href="">{{ hk.utente.username }}</a>
                            </div>

                            <div class="user-dropbox" style="display: none;">
                                <ul>
                                    <li class="user"><a href="../">Home</a></li>
                                    <li class="logout"><a href="../esci.php">Esci</a></li>
                                </ul>
                            </div>

                        </div><!-- User panel end -->

                    </div><!-- End header right -->

                </div><!-- End header wrapper -->

            </div>