<div class="nav-collapse collapse leftmenu">

                    <ul>
                        {% if pagina == 'dash' %} <li class="current"> {%else%}<li>{%endif%}<a class="dashboard smronju" href="index.php" title="Dashboard"><span><em>Dashboard</em></span></a></li>
                        {% if pagina == 'users' %} <li class="current"> {%else%}<li>{%endif%}<a class="users" href="javascript:void(0)" title="utenti"><span><em>Utenti</em></span></a>
                            <ul class="dropdown" style="left: 222px; visibility: hidden; display: none;">
                             <li><a class="users" href="modifica_utente.php" title="Tables"><span><em>Modifica Utente</em></span></a></li>
                                <li><a class="users" href="enter_user.php" title="entra"><span><em>Entra in un Utente</em></span></a></li>
                                <li><a class="users" href="controlla_badge.php" title="distintivi"><span><em>Controlla Distintivi</em></span></a></li>
                                <li><a class="users" href="chatlog.php" title="distintivi"><span><em>Chatlog</em></span></a></li>
                            </ul>
                        </li>
                        <li><a class="editor" href="javascript:void(0)" title="utenti"><span><em>News</em></span></a>
                            <ul class="dropdown" style="left: 222px; visibility: hidden; display: none;">
                        <li><a class="editor" href="crea_news.php" title="new_news"><span><em>Crea una News</em></span></a></li>
                                <li><a class="editor" href="" title="mod_news"><span><em>Modifica una News</em></span></a></li>
                            </ul>
                        </li>
                        
                        <li><a class="error" href="javascript:void(0)" title="utenti"><span><em>Ban</em></span></a>
                            <ul class="dropdown" style="left: 222px; visibility: hidden; display: none;">
                        <li><a class="error" href="" title="new_news"><span><em>Banna un Utente</em></span></a></li>
                                <li><a class="error" href="" title="mod_news"><span><em>Sbanna un Utente</em></span></a></li>
                                <li><a class="error" href="" title="lista"><span><em>Lista Ban</em></span></a></li>
                            </ul>
                        </li>
                        
                        <li><a class="chat" href="javascript:void(0)" title="utenti"><span><em>Log Staff</em></span></a>
                            <ul class="dropdown" style="left: 222px; visibility: hidden; display: none;">
                        <li><a class="chat" href="" title="new_news"><span><em>Log Comandi</em></span></a></li>
                                <li><a class="chat" href="" title="mod_news"><span><em>Log HK</em></span></a></li>
                            </ul>
                        </li>
                        
                    </ul>

                </div>